/* General Styles */
body {
    font-family: 'Tstar Pro', sans-serif;
    background-color: #f4f4f4; /* Light grey/off-white background */
    color: #333333; /* Dark text color */
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Headings with 3D Effect */
h1, h2 {
    font-size: 36px;
    color: #2c3e50;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Features Section */
.features ul {
    list-style-type: georgian;
    padding: 0;
    margin: 20px 0;
}

.features li {
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}

/* Google Sign-In Button */
#google-sign-in {
    padding: 10px 20px;
    background-color: #075a6e;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#google-sign-in:hover {
    background-color: #2980b9;
}

/* Footer */
footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #95a5a6;
    font-size: 14px;
}
