/* styles.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #0a0a2a, #1b1b47);
    margin: 0;
    padding: 0;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    margin: 0;
    font-size: 3em;
}

p {
    margin: 0;
    font-size: 1.2em;
}

main {
    padding: 20px;
    flex: 1;  /* This makes sure the main content takes up available space */
}

.features {
    margin-top: 30px;
}

.features h2 {
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.features ul {
    list-style-type: none;
    padding: 0;
}

.features ul li {
    font-size: 1.2em;
    margin: 10px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.login {
    margin-top: 50px;
}

#google-sign-in {
    padding: 15px 30px;
    font-size: 1.5em;
    background-color: #4285F4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

#google-sign-in:hover {
    background-color: #357ae8;
}

footer {
    background-color: #1b1b47;
    color: white;
    padding: 10px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}
